html,
body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.media-width {
  @media;
}

.topbar {
  width: 100vw;
  height: 48px;
  box-sizing: border-box;
  border-bottom: 2px solid #d7d7d7;
  position: absolute;
  top: 0;
  display: none;
  @media screen and (min-width: 786px) {
    display: block;
  }
}

.nav {
  width: 1920px;
  background: red;
  display: flex;
}

.nav_wrapper {
  height: 100%;
}
