html,
body {
    margin: 0;
}

.topbar {
    display: none;
}

.nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    height: 70%;
}

.nav-upper {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    box-sizing: border-box;
    padding: 8px;
    z-index: 9999999;
}

.search-wrapper {
    display: none;
}

.desktop__nav-lower__wrapper {
    display: none;
}

.mobile-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.list-item__button {
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-wrapper {
    display: none;
}

.hamburger {
    display: inline-block;
    position: relative;
    width: 24px;
    transition: 10s;
    padding: 0;
    margin: 0;
}

.hamburger__inner {
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s ease-in-out;
    border-radius: 16px;
}

.hamburger__inner::before,
.hamburger__inner::after {
    width: 100%;
    height: 3px;
    background-color: #000;
    position: absolute;
    content: "";
    left: 0;
    transition: transform 0.2s ease-in-out;
    border-radius: 16px;
}

.hamburger__inner::before {
    top: -8px;
}

.hamburger__inner::after {
    top: 8px;
}

.hamburger--active .hamburger__inner {
    background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
    transform: translateY(8px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
    transform: translateY(-8px) rotate(-45deg);
}

.navigation {
    height: 100%;
    width: 100vw;
    position: fixed;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    background: #f0f0f0;
    padding: 64px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.mobile-navigation--active {
    transform: translateY(0);
}

.navigation-list {
    padding: 0;
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    transform: translateY(-30%);
}

.navigation-list__item {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.navigation-list__item > a {
    color: black;
    text-decoration: none;
}

.section-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.section-wrapper__item {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__text {
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin: 0 8px;
    color: #000;
}

.basket {
    display: none;
}

.img-wrapper__number {
    position: absolute;
    right: -8px;
    bottom: -8px;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.search-bar {
    width: 100vw;
    border-bottom: 2px solid #d7d7d7;
    height: 48px;
    display: flex;
    justify-content: space-between;
}

.search-button__img {
    height: 40%;
}

.search-bar__input {
    width: calc(100% - 58px);
    border: none;
    font-size: 14px;
    box-sizing: border-box;
    padding: 8px;
    height: 100%;
    outline: 0;
}

.search-bar__button {
    background: transparent;
    border: none;
}

.search-button {
    width: 48px;
    height: 48px;
}
